#btnRun {
    -fx-background-image: url("/img/btnRun.png");
}

#btnNextSubClock {
    -fx-background-image: url("/img/btnNextFaze.png");
}

#btnNextClock {
    -fx-background-image: url("/img/btnNextClock.png");
}

#btnNewFile {
    -fx-background-image: url("/img/btnNewFile.png");
}

#btnSaveFile {
    -fx-background-image: url("/img/btnSave.png");
}

#btnLoadFile {
    -fx-background-image: url("/img/btnOpenFile.png");
}

#btnSearchMemory {
    -fx-background-image: url("/img/search.png");
}

#btnSelectRadix {
    -fx-background-image: url("/img/search.png");
}

.buttons {
    -fx-background-color: Transparent;
    -fx-cursor: HAND;
}

.toolbar {
    -fx-graphic-text-gap: 8;
}

.transparent-label {
    -fx-background-color: Transparent;
}

.center-align {
    -fx-alignment: CENTER;
}

.default-border {
    -fx-border-color: lightgray;
}

.table-label {
    -fx-background-color: linear-gradient(white, lightgray);
}

.table-field {
    -fx-border-color: lightgray;
    -fx-background-insets: 0;
}

.status-bar {
    -fx-background-color: white;
    -fx-border-color: lightgray;
}