#btnRun {
    -fx-background-image: url("/img/btnRun.png");
}

#btnNextFaze {
    -fx-background-image: url("/img/btnNextFaze.png");
}

#btnNextClock {
    -fx-background-image: url("/img/btnNextClock.png");
}

#btnNewFile {
    -fx-background-image: url("/img/btnNewFile.png");
}

#btnSave {
    -fx-background-image: url("/img/btnSave.png");
}

#btnOpenFile {
    -fx-background-image: url("/img/btnOpenFile.png");
}

.buttons {
    -fx-background-color: Transparent;
    -fx-cursor: HAND;
}

.toolbar {
    -fx-graphic-text-gap: 8;
}

.text-area {
    -fx-background-color: Transparent;
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}

.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}

.text-area .scroll-bar:vertical {
    -fx-pref-width: 1;
    -fx-opacity: 0;
}